POSTGRES_DB=appdb
POSTGRES_USER=postgresadmin
POSTGRES_PASSWORD=ChangeThisAdminPassword

APP_DB_USER=appuser
APP_DB_PASSWORD=ChangeThisAppPassword

DB_HOST=postgres
DB_PORT=5432
DB_NAME=appdb
DB_USER=appuser
DB_PASSWORD=ChangeThisAppPassword

PORT=3000
